h1{
    text-align: center;

}
main{
    background-color: rgba(20, 20, 40, 0.85);
    display: flex;
    padding: 10px;
}
nav{
    background-color: rgba(20, 20, 40, 0.85);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    margin: 10px;
    transition: all 0.2 ease;
}
nav a:hover {
  color: #39ff14;
  text-shadow: 0 0 6px rgba(57,255,20,0.6);
}