.wrapper{
    background: linear-gradient(rgba(53, 68, 54, 0.7), rgba(0,0,0,0.7));
    padding: 10px;
}

.card{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border: solid rgba(57, 255, 20,0.2) 1px;
    border-radius: 20px;
    padding: 10px;
}
.card-title{
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.info{
    color: #39FF14;
}
.descDiv{
    background-color: rgba(24, 24, 24, 0.55);
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 20px;
    border: solid white 1px;

}
.infoDiv{
    background-color: rgba(0,0,0,0.55);
    backdrop-filter: blur(6px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    border: solid white 1px;
}
img{
    width:100%;
    max-width: 600px;

    height: auto;
    border-radius: 20px;
    margin-top: 5px;
    border:solid white 1px;
}
h1{
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p{
    margin: 2px;
}
.basicInfo{
    text-align: left;
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}
h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.screenshot{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.screenshot:hover{
    transform: scale(1.03);
    border: rgba(57, 255, 20, 0.8) solid 1px;
}
.screenshotsCard, .storeDiv{
    background-color: rgba(0,0,0,0.55);
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 20px;
    border: solid white 1px;
    width: 100%;
    max-width: 600px;
    flex: 1 1 500px;

}
.lowerSection{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

#screenshotModal img{
    width: 100%;
    height: auto;
    object-fit: contain;    
}
h4{
    color: white;
}

button{
    background: rgb(75, 75, 97);
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:  solid 1px #39ff14;
    border-radius: 12px;
    font-size: small;
    box-shadow: 0 16px 40px rgb(57, 255, 20, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
}
button:hover{
    background: rgba(0, 0, 0, 0.12);
    border: solid #39FF14 1px;
    box-shadow: 0 16px 40px rgb(57, 255, 20, 0.2);
    color: white;
    transform: scale(1.2);
}
.linkWebsite{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    background: rgb(24, 24, 24);
    backdrop-filter: blur(6px);
    color: white;
    border-radius: 12px;
    font-size: medium;
    backdrop-filter: blur(6px);
    width: 90%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    border: rgba(57, 255, 20, 0.8) solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.linkWebsite:hover{
    color: white;
    background-color: white;
    border: solid 1px black;
    transform:translateX(10px);
    background: rgba(57, 255, 20, 0.1);
    border: white solid 1px;

}

.btnWsh{
    background: rgb(24, 24, 24);
    color: white;
    border-radius: 12px;
    font-size: small;
    backdrop-filter: blur(6px);
    margin: 10px;
    margin-left: 30px;
}
.plus{
    font-size: large;
    margin-right: 5px;
    font-weight: bolder;
    color: #39FF14;
}

.btnWsh:hover{
    color: #39FF14;
    background: rgba(57, 255, 20, 0.1);
    border: white solid 1px;

}
.plus:after{
    transform: scale(1.3);
}
.btnSearch{
    background: rgba(239, 239, 239, 0.9);
    backdrop-filter: blur(6px);
    color: black;
    border-color: black;
    margin-left: 20px;
    
}
.btnSearch:hover{
    transform: translateX(10px);
}
.gameDetailsCard{
    color: white;
}
.header{
    color: #39FF14;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-right: 5px;
    letter-spacing: 1px;
    
}
#heading{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px;
    letter-spacing: 1px;
}
.platform{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
}
.basicInfo{
    width: 100%;
    background-color: rgba(0,0,0,0.55);
    backdrop-filter: blur(6px);
    padding: 2px;
    border-radius: 20px;
    margin-top: 20px;
    border: solid rgba(255, 255, 255,0.4) 1px;
}

.storeDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.storeDiv h4{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.storeLink{
    color: black;
    font-size: medium;
    width: 200px;
    background: white;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    transition: transform 0.2s ease;
    cursor: pointer;
    margin: 5px;

}
.storeLink:hover{
    background: rgb(24, 24, 24);
    color: white;
    border-radius: 25px;
    backdrop-filter: blur(6px);
    transform: scale(1.2);
    border: #39FF14 solid 1px;
    box-shadow: 0 16px 40px rgb(57, 255, 20, 0.2);
}
.achievementsSection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dropdownAchs{
    max-width: 700px;
    width: 100%;
}

.achsImg{
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: rgba(57, 255, 20, 0.1) solid 1px;
    margin-left: 40px;
}
.achsBtn{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: larger;
    font-weight: bold;
    transition: none;
}
.achsBtn:hover{
    transform: scale(1);
}
.achsDiv{
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    width: 100%;
    border: solid 2px rgba(57, 255, 20, 0.9);
}
ul{
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    width: auto;
    background-color: rgba(0,0,0,0.55);
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 20px;
    border: solid white 9px;
    box-sizing: border-box;
}
.dropdown-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: left;
    margin: 10px;
    width: 300px;
}

li{
    display: flex;
    width: 90%;
    
}
.rarity{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: small;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 20px;
}
.showWishlistPopup{
    background: rgb(24, 24, 24);
    border: #39FF14 solid 1px;
    color: white;
    border-radius: 12px;
    font-size: small;
    backdrop-filter: blur(6px);
    margin: 10px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
}

@media (max-width: 768px){
    .achsBtn,
    .dropdown-menu{
        font-size: 14px;
    }
    .achsImg{
        width: 70px;
        height: 40px;
        margin-left: 10px;
    }
    ul, .achsDiv{
        width: 350px;
    }
    .dropdown-menu{
        width: 400px;
        font-size: x-small;
    }
}

@media (max-width: 360px){
    .achsBtn,
    .dropdown-menu{
        font-size: 14px;
    }
    .achsImg{
        width: 70px;
        height: 40px;
        margin-left: 10px;
    }
    ul, .achsDiv{
        width: 200px;
    }
    .dropdown-menu{
        width: 250px;
        font-size: x-small;
        margin: 0;
    }
}