<div class="wrapper">
<div class="container mt-4">
    @if (gameAPI.game(); as gameData) {
        <h1>{{gameData.name}}</h1>
        <div class="card mx-auto gameDetailsCard"; [style.background-image]="'linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(' + gameData.background_image + ')'" [style.background-size]="'cover'">
        <div class="row g-0">
        <div class="col-md-4 text-center">
        <img src="{{ gameData.background_image }}" alt="{{ gameData.name }} poster" class="img-fluid" style="margin-left: 5px;">
        <div class="basicInfo">
        <h3 id="heading"><strong class="header">Genres:</strong></h3>
        @for (genre of gameData.genres; track genre.id){
            <h3 id="heading">{{genre.name}}</h3>
        }
        <h3 id="heading"><strong class="header">Rating:</strong>{{gameData.esrb_rating.name}}</h3>
        <h3 id="heading"><strong class="header">Platforms:</strong></h3>
        @for (platform of gameData.platforms; track platform.platform.id){
            <h3 class="platform">{{platform.platform.name}}</h3>
        }
        </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h2 class="card-title"> {{ gameData.name }}</h2>
            <div class="infoDiv">
                @if(gameData.tba === true){
                    <p class="card-text"><strong class="info">TBA:</strong> Yes</p>
                } @else {
                    <p class="card-text"><strong class="info">TBA:</strong> No</p>
                }
            <p class="card-text"><strong class="info">Release Date:</strong> {{ gameData.released }}</p>
            <p class="card-text"><strong class="info">Rating:</strong> {{ gameData.rating }}</p>
            </div>
            <div class="descDiv">
            <p class="card-text"><strong class="info">Description:</strong></p>
            <div [innerHTML]="gameData.description"></div>
            </div>
    </div>
            <button class="btnSearch btn-secondary" routerLink="/">Search Another Game</button>
            <button class="btnWsh btn-secondary" ><strong class="plus">+</strong>Add To Wishlist</button>
        </div>
            <div class="container-fluid p-4">
            <div class="lowerSection">
            <div class="screenshotsCard row g-1">
            <h4 class="mt-4" style="text-align: center;">Screenshots</h4>
                @for (shot of gameAPI.screenshots()?.results; track shot.id) {
                <div class="col-md-4 mb-3">
                <img [src]="shot.image" class="screenshot" alt="Game Screenshot" (click)="selectedScreenshot = shot.image"
                data-bs-toggle="modal" data-bs-target="#screenshotModal">
            </div>
    }
            </div>
            <div class="storeDiv">
            <h4 class="mt-4" style="text-align: center;">Purchase From:</h4>
                @for (storeSelling of gameAPI.storesForGames()?.results; track storeSelling.id){
                    <a class="storeLink" [href]="storeSelling.url" target="_blank">
                        <i [class]="getStoreIcons(storeSelling.store_id)"></i>
                        {{getStoreName(storeSelling.store_id)}}</a>
    }
        </div>
        </div>
        <div class="achievementsSection">
        <div class="dropdownAchs">
            <button class="achsBtn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Game Achievements
            </button>
        <ul class="dropdown-menu dropdown-menu-dark col-md-4 mb-3">
            @for(gameAchs of gameAPI.achievements();track gameAchs.id){
                <div class="achsDiv col-md-4 mb-3">
            <li>
                <img src="{{gameAchs.image}}" class="achsImg" alt="Image">
                <span class="dropdown-item">{{gameAchs.name}}</span>
                <h3 class="rarity">Rarity:{{gameAchs.percent}}</h3>
            </li>
            </div>
            }
  </ul>
</div>
</div>
        </div>
        </div>
        <!-- Screenshot Pop-Up -->
            <div class="modal fade" id="screenshotModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-body text-center p-0">
                        <img [src]="selectedScreenshot" class="img-fluid" alt="Expanded Image">
                    </div>
                </div>
            </div>
            </div>
            
    </div>
    } @else {
        <div>
            <h3 style="color: black;">.. Game not found.</h3>
        </div>
    }
</div>
</div>









