img{
    height: 200px;
    justify-content: safe;
    object-position: center;
    border: solid #0ae01880 1px;
    border-radius: 25px;
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.scroll-container{
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 50px;
    padding-right: 50px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 10px;
}
.scroll-container::-webkit-scrollbar{
    display: none;
}
.wrapper{
    background-color: rgba(0,0,0,0.55);
    backdrop-filter: blur(3px);
    padding: 5px;
    border: solid #39ff14 1px;
    border-radius: 20px;
    margin: 30px;

}
.card{
    background: linear-gradient(145deg, #1b1b2f, #16213e);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    border-radius: 25px;
    border: solid rgba(57, 255, 20, 0.25) 1px;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 2px;

}
.card:hover{
    box-shadow: 0 16px 40px rgb(57, 255, 20, 0.2);
    transform: scale(1.03);
}
a{
    color: white;
    text-decoration: none;
}


.scroll-btn{
    position: absolute;
    margin: 2px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    background: rgba(26, 26, 79, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255);
    transition: all 0.25s ease;
    scale: 0.9;
}
.scroll-btn:hover {
    color: #39ff14;
    border-color: #39ff14;
    box-shadow: 0 0 12px rgba(57,255,20,0.4);
    transform: scale(0.9);
}
.scroll-btn.left{
    left: -5px;
    border-radius: 20px;
}
.scroll-btn.right{
    right: -5px;
    border-radius: 20px;
}


